extends layout

block content
  .row-fluid
    .span12
      h1 Cosmonaut - Editor
  .row-fluid
    .span3#sidebar
      ul.nav.nav-list
        li.nav-header
          span Primitives
        li
          span Cube
          button.btn.add
            i.fui-plus-16
    .span9
      div#scene
