extends layout

block content
  .row-fluid
    .span12
      h1 Cosmonaut - Editor
  .row-fluid
    .span3#left-control
      ul.nav.nav-list
        li.nav-header
          span Primitives
        li
          span Cube
    .span9
      div#scene
